* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "IndieFlower";
  src: url(Indie_Flower/IndieFlower-Regular.ttf);
}

body {
  font-family: "IndieFlower";
  text-align: center;
  width: 100%;
}
header {
  background-image: url(../imagenes/imagenfooterheadernva.jpeg);
  color: white;
  border-bottom: 3px black solid;
  width: 100vw;
}
h2 {
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 2px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191;
}
.encabezado {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
}

.encabezado2 {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.enunciado {
  font-size: 20px;
  padding-bottom: 10px;
  text-align: center;
}
main {
  width: 100vw;
  background-image: url(../imagenes/main.jpeg);
  padding: 25px 30px 25px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;
}
.principal {
  width: 100vw;
  display: grid;
  align-content: center;
  grid-template-columns: 320px 600px;
  grid-auto-flow: 50px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.contenedor {
  width: 330px;
  height: 400px;
  perspective: 1000px;
  perspective-origin: 100% 100%;
  overflow: hidden;
  padding: 70px;
}

.cubo {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(-30deg);
  margin: 30px auto;
}

.cubo .cara:nth-child(1) {
  transform: translateZ(100px);
}

@keyframes giro360 {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes giro {
  0% {
    transform: rotateX(-45deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(45deg) rotateY(360deg);
  }
  100% {
    transform: rotateX(-45deg) rotateY(720deg);
  }
}

.cubo {
  animation: giro 20s infinite linear;
}

.cubo .cara-fondo:nth-child(7) {
  transform: translateZ(100px);
}

.cubo .cara-fondo:nth-child(8) {
  transform: rotateY(180deg) translateZ(100px);
}

.cubo .cara-fondo:nth-child(9) {
  transform: rotateY(-90deg) translateZ(100px);
}

.cubo .cara-fondo:nth-child(10) {
  transform: rotateY(90deg) translateZ(100px);
}

.cubo .cara-fondo:nth-child(11) {
  transform: rotateX(90deg) translateZ(100px);
}

.cubo .cara-fondo:nth-child(12) {
  transform: rotateX(-90deg) translateZ(100px);
}

.cubo .cara-fondo:nth-child(13) {
  transform: rotateX(180deg);
}
.cubo .cara-fondo:nth-child(14) {
  transform: rotateY(90deg);
}
.cubo .cara-fondo:nth-child(15) {
  transform: rotateX(90deg);
}

.contenedor {
  perspective: 1000px;
  perspective-origin: 100% 100%;
}
.cubo,
.cubo .cara,
.cubo .cara-fondo {
  height: 200px;
  width: 200px;
}

.cubo {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(-30deg);

  animation: giro 20s infinite linear; /**/
}

.cubo .cara {
  position: absolute;
}

.cubo .cara-fondo {
  background-image: url(../imagenes/imagenfooterheadernva.jpeg);
  position: absolute;
  border: 5px solid black;
}

#rgb {
  background-image: url(../imagenes/imagenfooterheadernva.jpeg);
  font-size: 20px;
  text-align: center;
  padding-top: 70px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
.explicacion {
  font-size: 15px;
  color: #fff;
  padding: 50px 10px 10px 10px;
}
.muestras {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: space-around;
}
.marcador {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: space-around;
  padding: 25px;
  margin: 0px 20px;
}

.muestra1 {
  width: 100%;
  background-color: #191934;
  border-radius: 10px;
  margin: 10px auto;
  padding: 15px;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.muestra1:hover {
  width: 110%;
  transition: ease 2s;
  filter: grayscale(80%);
}
.muestra2 {
  width: 100%;
  background-color: #191934;
  border-radius: 10px;
  margin: 10px auto;
  padding: 15px;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.muestra2:hover {
  width: 110%;
  transition: ease 2s;
  filter: grayscale(80%);
}
.muestra3 {
  width: 100%;
  background-color: #0d0d85;
  border-radius: 10px;
  margin: 20px auto;
  padding: 15px;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.muestra3:hover {
  width: 110%;
  transition: ease 2s;
  filter: grayscale(80%);
}

#errores,
#aciertos {
  font-size: 20px;
  border-radius: 10px;
  background-image: url(../imagenes/imagenfooterheadernva.jpeg);
  color: white;
  padding: 10px 10px;
  margin: 20px;
  letter-spacing: 3px;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#resultadoPartida {
  border-radius: 10px;
  padding: 25px;
  cursor: default;
  margin: auto;
  animation: bounce 0.3s ease infinite alternate;
  font-family: "Erica One";
  font-size: 35px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.6);
}

@keyframes bounce {
  100% {
    top: -30px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 30px 30px rgba(0, 0, 0, 0.3);
  }
}

footer {
  background-image: url(../imagenes/imagenfooterheadernva.jpeg);
  color: white;
  border-top: 3px black solid;
  width: 100vw;
}
.end {
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 25px;
}

img {
  width: 5vw;
  margin: auto;
}
.nombres {
  text-align: right;
  padding-top: 10px;
}

@media screen and (max-width: 720px) {
  header {
    padding: 30px 0px 30px 0px;
  }
  h2 {
    margin-top: 25px;
    font-size: 35px;
  }

  .encabezado2 {
    margin-top: 20px;
    width: 10vw;
  }

  h3 {
    font-size: 25p;
    padding: 20px;
  }
  .principal {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
  }
  .contenedor {
    display: block;
    overflow: hidden;
    width: 55vw;
    height: 30vh;
    margin: 20px;
    padding: 50px;
  }
  .muestras {
    margin: 20px;
  }
  .end {
    margin: 30px 30px 30px;
    font-size: 20px;
  }
  img {
    width: 10vw;
    margin: auto;
  }
}
@media screen and (max-width: 420px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0px;
    font-weight: bold;
    z-index: 1;
    background-image: url(../imagenes/mainfooter.jpeg);
    padding: 25px;
  }
  h1 {
    font-size: 20px;
    padding-top: 15px;
  }

  .enunciado {
    font-size: 15px;
  }

  .principal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    top: 0px;
    font-weight: bold;
    z-index: 2;
    font-size: 15px;
    padding: 30px 15px 30px 0px;
  }

  .contenedor {
    display: block;
    overflow: hidden;
    width: 50vw;
    height: 30vh;
    margin: 20px;
  }

  .tabla {
    width: 30vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px;
  }
  button .muestra1 .opcion1 {
    font-size: 10px;
  }
  p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1280px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0px;
    font-weight: bold;
    z-index: 1;
    background-image: url(../imagenes/mainfooter.jpeg);
    padding: 25px;
  }

  .contenedor {
    display: block;
    overflow: hidden;
    width: 40vw;
    padding-top: 40px;
  }
  footer {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1240px) {
  header {
    width: 100%;
    margin: 0px;
    padding: 0%;
  }
  main {
    padding: 0%;
  }
  footer {
    padding-top: 5px;
  }
  .end {
    padding: 0%;
  }
}
