* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "IndieFlower";
  src: url(Indie_Flower/IndieFlower-Regular.ttf);
}

body {
  margin: auto;
  font-family: "IndieFlower";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-between;
  height: 100%;
  font-size: 16px;
}
header {
  background: black;
  color: white;
  width: 100vw;
  text-align: center;
}
h1 {
  font-size: 3em;
  padding-top: 10px;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 10px;
}
main {
  width: 100vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: space-around;
}
.iniciar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: center;
}
button {
  background-color: #919191;
  border-radius: 28px;
  border: 1px solid #919191;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 2em;
  padding: 20px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #919191;
  font-family: "IndieFlower";
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
button:hover {
  background-color: #463f3f;
}

.button:active {
  position: relative;
  top: 1px;
}

.colorcompara {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: center;
}

#rgb {
  font-size: 30px;
  text-align: center;
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgb(44, 42, 42), 0px 0px 7px rgb(43, 40, 40);
}

.muestras {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: space-around;
}

.muestra1 {
  width: 25%;
  border-radius: 10px;
  margin: 10px auto;
  padding: 15px;
  font-size: 1.5em;
  color: black;
  letter-spacing: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.muestra1:hover {
  width: 27%;
  transition: ease 2s;
  filter: grayscale(80%);
}
.muestra2 {
  width: 25%;
  border-radius: 10px;
  margin: 10px auto;
  padding: 15px;
  font-size: 1.5em;
  color: black;
  letter-spacing: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.muestra2:hover {
  width: 27%;
  transition: ease 2s;
  filter: grayscale(80%);
}
.muestra3 {
  width: 25%;
  border-radius: 10px;
  margin: 10px auto;
  padding: 15px;
  font-size: 1.5em;
  color: black;
  letter-spacing: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.muestra3:hover {
  width: 27%;
  transition: ease 2s;
  filter: grayscale(80%);
}

.marcador {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: space-around;
  padding: 25px;
  margin: 0px 20px;
}

#errores,
#aciertos {
  margin-right: 10px;
  border-radius: 10px;
  background: #919191;
  color: rgb(7, 7, 7);
  padding: 10px 10px;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#resultadoPartida {
  border-radius: 10px;
  font-size: 2em;
  cursor: default;
  margin: auto;
  animation: bounce 0.3s ease infinite alternate;
  font-family: "IndieFlower";
  font-size: 3em;
  color: black;
  text-align: center;
  text-shadow: 0 1px 0 rgb(63, 58, 58), 0 2px 0 rgb(32, 29, 29),
    0 3px 0 rgb(31, 24, 24), 0 4px 0 #ccc, 0 5px 0 rgb(20, 18, 18),
    0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.6);
}
@keyframes bounce {
  100% {
    top: -30px;
    text-shadow: 0 1px 0 rgb(80, 74, 74), 0 2px 0 rgb(31, 27, 27),
      0 3px 0 rgb(90, 78, 78), 0 4px 0 #ccc, 0 5px 0 rgb(139, 118, 118),
      0 6px 0 rgb(75, 63, 63), 0 7px 0 rgb(32, 27, 27), 0 8px 0 rgb(56, 38, 38),
      0 9px 0 #ccc, 0 30px 30px rgba(0, 0, 0, 0.3);
  }
}

footer {
  background: black;
  color: white;
  width: 100vw;
}
.end {
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 25px;
}

img {
  width: 50px;
  margin: auto;
}
.nombres {
  text-align: right;
  padding-top: 10px;
}
@media screen and (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
  }
  h1 {
    font-size: 3.1em;
  }
  h2 {
    padding: 7px;
    font-size: 2.5em;
  }

  main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    justify-content: center;
    height: 65vh;
  }
  .iniciar {
    margin-bottom: 25px;
  }
  button {
    font-size: 2em;
    padding: 12px;
  }
  .muestras {
    margin-top: 35px;
  }
  .muestra1 {
    font-size: 2em;
    padding: 10px;
  }

  .muestra2 {
    font-size: 2em;
    padding: 10px;
  }
  .muestra3 {
    font-size: 2em;
    padding: 10px;
  }

  #rgb {
    font-size: 2em;
  }
  .marcador {
    margin-top: 45px;
    font-size: 1.8em;
    padding: 25px;
  }
  #aciertos,
  #errores {
    margin-right: 10px;
    text-align: center;
    font-size: 1.8em;
  }
  footer {
    height: 10vh;
    margin: 0px auto;
    padding: 0px;
  }
  .end {
    font-size: 1em;
    padding: 0px;
  }
}

@media screen and (max-width: 380px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    justify-content: center;
    height: 62vh;
  }
  .iniciar {
    margin-bottom: 15px;
  }
  button {
    font-size: 1.2em;
    padding: 6px;
  }

  .muestra1 {
    font-size: 0.8em;
    padding: 10px;
  }

  .muestra2 {
    font-size: 0.8em;
    padding: 10px;
  }
  .muestra3 {
    font-size: 0.8em;
    padding: 10px;
  }

  #rgb {
    font-size: 1em;
  }
  .marcador {
    font-size: 0.8em;
    padding: 2px;
  }
  #aciertos {
    margin-right: 10px;
  }
  footer {
    height: 10vh;
    margin: 0px auto;
    padding: 0px;
  }
  .end {
    font-size: 0.5em;
    padding: 0px;
  }
}

@media screen and (max-width: 325px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    justify-content: center;
    height: 61vh;
  }
  button {
    font-size: 0.8em;
    padding: 5px;
  }

  .muestra1 {
    font-size: 0.5em;
    padding: 5px;
  }

  .muestra2 {
    font-size: 0.5em;
    padding: 5px;
  }
  .muestra3 {
    font-size: 0.5em;
    padding: 5px;
  }

  #rgb {
    font-size: 1em;
  }
  .marcador {
    font-size: 0.5em;
    padding: 2px;
  }
  #aciertos {
    margin-right: 10px;
  }
  footer {
    height: 10vh;
    margin: 0px auto;
    padding: 0px;
  }
  .end {
    font-size: 0.3em;
    padding: 0px;
  }
}
